<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <application
        android:theme="@style/Theme.Jamon"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:name="com.easternwood.sleeproutine.JamonApplication"
        android:allowBackup="false"
        android:supportsRtl="true"
        android:roundIcon="@mipmap/ic_launcher_round">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id"/>
        <activity
            android:name="com.easternwood.sleeproutine.SettingsActivity"
            android:exported="false"/>
        <activity
            android:name="com.easternwood.sleeproutine.HistoryActivity"
            android:exported="false"/>
        <activity
            android:name="com.easternwood.sleeproutine.ProActivity"
            android:exported="false"/>
        <activity
            android:name="com.easternwood.sleeproutine.SoundMixerActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.easternwood.sleeproutine.SleepSessionActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.easternwood.sleeproutine.SoundLibraryActivity"
            android:exported="false"/>
        <activity
            android:name="com.easternwood.sleeproutine.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <service
            android:name="com.easternwood.sleeproutine.PlaybackService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback"/>
    </application>
</manifest>
